 input[type=text], 
 select, 
 textarea
  {
   width: 30%;   
  	padding: 12px; 
    border: 1px 
    solid #ccc;   
    border-radius: 4px;   
    box-sizing: border-box;   
    margin-top: 6px;   
    margin-bottom: 16px;  
    resize: vertical; 
}
 input[type=date],
 select, 
 textarea 
 {   
 	width: 30%;   
 	padding: 12px;   
 	border: 1px solid #ccc;   
 	border-radius: 4px;   
 	box-sizing: border-box;   
 	margin-top: 6px;   
 	margin-bottom: 16px;   
 	resize: vertical; 
 }
 input[type=Email], 
 select, 
 textarea 
 {   
 	width: 30%;   
 	padding: 12px;   
 	border: 1px solid #ccc;   
 	border-radius: 4px;   
 	box-sizing: border-box;   
 	margin-top: 6px;   
 	margin-bottom: 16px;   
 	resize: vertical; 
 }
 input[type=submit], 
 select, 
 textarea 
 {   
 	width: 30%;   
 	padding: 12px;   
 	border: 1px solid #ccc;   
 	border-radius: 4px;   
 	box-sizing: border-box;   
 	margin-top: 6px;   
 	margin-bottom: 16px;   
 	resize: vertical; 
 	background-color:#ccffcc
 }

 body 
 {
    background-image: url('bg.jpg');   
    background-size: cover; 
}